// Media Queries - screen sizes/ breakpoints
$tablet: 640px;
$laptop: 1024px;

// Colors - Primary
$blue: hsl(246, 80%, 60%);
$orange: hsl(15, 100%, 70%);  // work
$soft-blue: hsl(195, 74%, 62%);  // play
$red: hsl(348, 100%, 68%); // study
$lime-green: hsl(145, 58%, 55%); // exercise
$violet: hsl(264, 64%, 52%);     // social
$yellow: hsl(43, 84%, 65%); // self care

// Colors - Neutral
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(236, 45%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

// Typography - Font
$fw-light: 300;
$fw-reg: 400;
$fw-mid: 500;
